.gorgeous-input {
    &.disabled {
        --un-bg-opacity: .25;
        cursor: no-drop;
        input {
            cursor: no-drop;
        }
    }

    input:focus-visible {
        outline: none;
    }
}