.gorgeous-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #abcdef;
    display: flex;
    align-items: center;
    justify-content: center;
    .hidden {
        display: none;
    }
    .gorgeous-popup {
        background: #FFFFFF;
        padding: 1rem;
        border-radius: .75rem;
    }
    .gorgeous-popup-close {
        display: block;
        margin: 0 0 0 auto;
    }
}